trunk/opencore/project/core/org.opengoss.core.osgi/schema/OPENCORE.DTD

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT plugin (service*, extension-point*, extension*)>
<!ATTLIST plugin
	id CDATA #REQUIRED
	version CDATA #REQUIRED
>
<!ELEMENT service (interface, constructor?, property*)>
<!ATTLIST service
	id CDATA #REQUIRED
	scope CDATA #REQUIRED
	class CDATA #REQUIRED
>
<!ELEMENT interface EMPTY>
<!ATTLIST interface
	name CDATA #REQUIRED
>
<!ELEMENT constructor (param+)>
<!ELEMENT property EMPTY>
<!ATTLIST property
	name CDATA #REQUIRED
	value CDATA #OPTIONAL
	ref CDATA #OPTIONAL
>
<!ELEMENT extension-point (#PCDATA)>
<!ATTLIST extension-point
	id CDATA #REQUIRED
	target CDATA #REQUIRED
	bindMethod CDATA #REQUIRED
	unbindMethod CDATA #REQUIRED
>
<!ELEMENT extension (param+)>
<!ATTLIST extension
	id CDATA #REQUIRED
	point CDATA #REQUIRED
>
<!ELEMENT param EMPTY>
<!ATTLIST param
	ref CDATA #OPTIONAL
	class CDATA #OPTIONAL
	value CDATA #OPTIONAL
>
